@page "/detailprofile/{id}"

@if (Employees == null || Employees.Department == null)
{
    <div class="spinner"></div>
}
else
{
            <div class="row justify-content-center m-3">
                <div class="col-sm-6-mt-3">
                    <center><h1 class="tag2 tag2-pink"> @Employees.FirstName @Employees.LastName</h1></center>
                <div class="card-header text-center">
                    <center><img src="@Employees.Photopath" @onmousemove="@Mouse_Move"></center>
                   <h5> @Coordinate </h5>
                    <p>Employee Id : @Employees.EmployeeId</p>
                    <p>Email : @Employees.Email</p>
                    <p>Date Of Birth : @Employees.DateOfBirth</p>
                    <p>Gender : @Employees.Gender</p>
                    <p>Department Name : @Employees.Department.DepartmentName</p>
                </div>
                <center><button class="btn btn-outline-primary btn-lg" @onclick = "@Btn_Click">@ButtonText </button></center>
                <div class="card-footer text-center @CssClass"> 
                    <a href="/employeeprofile" class="btn btn-outline-primary btn-lg"> Back</a>
                    <a href="@($"editemployee/{Employees.EmployeeId}")" class="btn btn-outline-success btn-lg"> Edit</a>
                    <a href="#" class="btn btn-outline-danger btn-lg"> Delete</a>
                </div>
                </div>
            </div>
}