@page "/employeepage"

<h3> Daftar Pegawai </h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var em in Employees)
        {
            <tr>
            <td>@em.EmployeeId</td>
            <td>@em.FirstName</td>
            <td>@em.LastName</td>
            <td>@em.Email</td>
            <td><a href = "@($"employeedetail/{em.EmployeeId}")" class="btn btn-danger">Lihat</a></td>
            </tr>
        }
    </tbody>
</table>