@page "/employeeprofile"

@if (EmployeesProfile == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="card-deck">
        @foreach (var emp in EmployeesProfile)
        {
            <div class="card m-3" style="min-width:18rem; max-width:30%">
                <img class="card-img-top img-thumbnail" src="@emp.Photopath" />
                <div class="card-header">
                        <span class="tagnew tagnew-pink">Profile</span>
                        <h4><b>
                            @emp.FirstName @emp.LastName</b>
                        </h4>
                        <div>
                        <img src="images\deptname.png" width="25" height="25"/> @emp.Department.DepartmentName
                        </div>
                        <div>
                        <img src="images\email.png" width="25" height="25"/>  @emp.Email
                        </div>
                   
                </div>
                <div class="card-footer text-center">
                    <a href="@($"detailprofile/{emp.EmployeeId}")" class="btn btn-outline-primary btn-sm"> Lihat</a>
                    <a href="#" class="btn btn-outline-success btn-sm"> Edit</a>
                    <a href="#" class="btn btn-outline-danger btn-sm"> Delete</a>
                </div>
            </div>
            

        }
    </div>

}
